@model BeerStore.Models.cadastro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cadastro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuaCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuaCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplementoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuaEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuaEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplementoEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementoEmp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
