@model IEnumerable<BeerStore.Models.cadastro>

@{
    ViewBag.Title = "Cadastros";
}

<h2>Cadastros de Cliente</h2>

<p>
    @Html.ActionLink("Novo Cadastro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuaCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplementoCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuaEmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroEmp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplementoEmp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelCasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuaCasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplementoCasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuaEmp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroEmp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplementoEmp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
